# Manufacturer: Lenovo
# Product Name: ThinkSystem SR675 V3
# Version: 03
# Serial Number: JZ00T7ZR
# UUID: bfa0c434-6f05-11f0-a15f-8e3b4a393244
# Wake-up Type: Power Switch
# SKU Number: 7D9RCTO2WW
#
# needed in worker node grub default config: iommu=pt intel_iommu=on
#
NETOP_VERSION="25.10.0"
K8SVER="1.34"
NETOP_APP_NAMESPACES=( "default" "runai"  )
ENTRYPOINT_DEBUG="true"
#NGC_API_KEY=$(cat ${NETOP_ROOT_DIR}/ngc_staging_personal_key)
#NIC_FD_ENABLE=false
#NIC_CONFIG_ENABLE=true
FW_UPGRADE_ENABLE=true
MAINTENANCE_OPERATOR_ENABLE=true
NFD_ENABLE=true
OFED_ENABLE=true
CREATE_CONFIG_ONLY=0
USECASE="hostdev_rdma_sriov"
MTU_DEFAULT="9000"
DEVICE_TYPES=( "connectx-7" )
NUM_VFS=4
NUM_GPUS=4
NETOP_NAMESPACE="network-operator"
NETOP_BCM_CONFIG=true
NETOP_COMBINED=true
NETOP_SRIOV_NODE_POOL="100%"
NETOP_NICCLUSTER_FILE="nic-cluster-policy-H100.yaml"
NETOP_NETLIST=( a,,,0000:07:00.0,0000:07:00.1 b,,,0000:08:00.0,0000:08:00.1 c,,,0000:09:00.0,0000:09:00.1 d,,,0000:0a:00.0,0000:0a:00.1 )
#NETOP_NETWORK_RANGE="192.168.0.0/16"
NETOP_NETWORK_RANGE="172.16.0.0/12"
